.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --background-color: hsl(229, 57%, 11%);

  --card-background-color: hsl(228, 56%, 26%);
  --icon-background-color: hsl(229, 57%, 11%);

  --gbLeft-box-accent-color: hsl(229, 57%, 11%);
  --gbLeft-box-neutral-color: hsl(229, 7%, 55%);
  --gbLeft-box-background-color: white;

  --used-bar-light-color: hsl(6, 100%, 80%);
  --used-bar-dark-color: hsl(335, 100%, 65%);
  --used-bar-base-color: hsl(231, 55%, 18%);
  --used-bar-indicator-color: white;

  --font-neutral-color: hsl(243, 100%, 93%);
}

body {
  font-family: "Raleway", sans-serif;
  color: var(--font-neutral-color);
}

html,
body {
  height: 100%;
}
